.container {
  height: 100%;
  :global {
    a:not(:first-child) {
      margin-left: 8px;
    }

    .ant-select, .ant-radio-group, .ant-input-number, .ant-calendar-picker {
      width: 100%;
    }

    .ant-radio-wrapper {
      height: 32px;
      line-height: 32px;
    }

    .ant-checkbox {
      margin-left: 16px;
    }

    .anticon-question-circle {
      margin-left: 4px;
    }

    .ant-checkbox-wrapper{
      line-height: 32px;
    }

    .ant-picker {
      width: 100%;
    }

    .ant-space {
      display: block !important;
    }
   } 
}

.header {
  position: relative;
  z-index: 2;
  height: 64px;
  padding-left: 24px;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 4px 8px #eceef0;
  display: flex;
  color: #425b6d;
  line-height: 64px;
}

.moduleTitle{
  height: 40px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: #425b6d;
  line-height: 32px;
}

.body {
  background-color: @background-gray;
  height: calc(100% - 48px);
  padding: 24px;
  overflow: auto;
}

.conditionField {
  background-color: @white;
  border-radius: 4px;
  padding: 16px 32px 16px 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px 0px;
}

.condition {
  display: flex;
  margin-top: 16px;
}

.title {
  min-width: 100px;
  line-height: 32px;
}

.extratitle {
  min-width: 140px;
}

.top {
  padding: 16px;
}

.rowField {
  flex: 1;
  margin-left: 16px;
}

.bottom {
  padding: 16px;
}

.bottom .title {
  min-width: 100px;
}

.unit {
  line-height: 32px;
  margin-left: 4px;
}

.btnGroup {
  margin-top: 16px;
}

.cancel {
  margin-right: 16px;
}

.dateTitle {
  min-width: 130px;
  line-height: 32px;
}

.colField {
  display: flex;
}

.rowItem {
  flex: 1;
}

.rowItem:last-child {
  margin-left: 32px;
}

.cityGroup {
  flex: 1;
}

.citygroupField {
  display: flex;
  margin-top: 16px;
  width: 50%;
}

.longtitle {
  min-width: 130px; 
  line-height: 32px;
}



